@import url('https://fonts.googleapis.com');
* {
    box-sizing: border-box;
    font-family: "Agenda", sans-serif;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    height: 100%vh;
    width: 100%vh;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#navigation {
    background-color: #7393b3;
    border-bottom: 5px solid #ff0000;
}

.link {
    list-style-type: none;
    vertical-align: middle;
    display: flex;
    padding: 0px;
}

.link li {
    height: 40px;
    width: auto;
    background-color: transparent;
    border-radius: 16px;
    justify-content: center; 
    text-align:center; 
    align-items: center;
    display: flex;
    margin-right: 20px;
    font-size: 25px;
}

.link li a:hover:not(.active) {
    background-color: #b39373;
    color: #000000;
    text-decoration-color: #000000;
}

.link li a:not(.active) {
    color: #000000;
    text-decoration-color: #000000;
}

.link li a {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center; 
    align-items: center;
    display: flex;
    text-decoration: underline;
}

.link li a .active {
    color: black;
    text-decoration-color: black; 
}

.closed {
    margin-left: -200px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    top: 61px;
    padding: 25px;
    margin-bottom: 20px;
    height: auto;
}


h2 {
    color: #7393b3;
    position: relative;
}

.columns {
    border: 5px solid #7393b3;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
    background-color: #7393b3;
    position: absolute;
    bottom: 0;
    left: 0;
}